<!DOCTYPE html>
<html>
<head>
  <title>Cutara</title>
  <link rel="stylesheet" href="./css/style.css" type="text/css" media="screen"/>
  <script type="text/javascript" src="./js/jquery.js"></script>
  <script type="text/javascript" src="./js/index.js"></script>
</head>
<body>
<div id="banner">
	<b style="padding-top: 5">Cutara GUI</b>
</div>

<%= yield %>

<div id="info">
	<a href="https://github.com/evgeniy-khatko/cutara">Source code</a>
</div>

</body>
</html>
